<h1>Conversations#show</h1>
<p>Find me in app/views/conversations/show.html.erb</p>

<%= form_for @conversation, url: new_message_path, method: "get" do |f| %>
  <%= f.hidden_field(:conversation_id, value: @conversation.id) %>
  <%= f.submit "new message" %>
<% end %>

<h2><%= @conversation.name %></h2>
<h4>Messages</h4>
<ul>
  <% @messages.each do |message| %>
  <li>
    <%= message.content %>
  </li>
  <% end %>
</ul>

